html {
    font-size: 1rem;
}
#logo-empresa {
  position: fixed;
  top: 2%;
  left:2%;
  border-color:gold;
  border-style: inset;
  height: 10%;
}
body {
  background-color: aquamarine;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top:5%;
  padding-bottom: 0%;
  background-image: url(/../imagenes/pacman.png);
  background-color: rgb(43, 226, 220);
}

.titulo {
  margin:0 auto;
  padding: 16px; 
  width: 70%;
  font-family: 'Press Start 2P';
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.efecto3d {
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
nav {
  height: 20%;
  margin: 90px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav > a {
  margin:0px;
  padding:5px;
  border: 20px outset rgb(98, 95, 95) ;
  font-size:2rem;
  font-weight:bold;
  text-decoration: none;
  color: rgb(199, 210, 122);
  text-shadow:1px 2px 1px rgba(16,16,16,0.2),
    1px 3px 2px rgba(16,16,16,0.3),
    1px 4px 3px rgba(16,16,16,0.4),
    1px 5px 4px rgba(13, 13, 13, 0.5);
  background-color: rgb(126, 121, 121);
}

.active{
  background-color: rgb(147, 150, 60);
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.listado-juegos {
  width:20%;
}

#listado {
  width: 600px;
  order:3;
}

h2 {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: bolder;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
  text-align: center;
}
table {
  margin:0 auto;
  max-width: 100%;
  background-color: rgb(196, 196, 220);
  border-style: ridge;
  border-width: 10px;
  border-spacing: 0px;
}
tr {
    border-collapse: collapse;
    border-spacing: 0px;
}
th, td {
  margin:0;
  padding: 10px;
  font-family: 'Press Start 2P';
  border-style:inset;
  text-align: center;
}

th {
  text-transform: uppercase;
  font-size: 1.5rem;
}

td {
  font-size: 1.25rem;
}

h3, h4 {
  font-family: 'Press Start 2P';
  font-size: 1.25rem;
  color: red;
  text-align: center;
}

.imagen_flotante {
  float:right;
  border:solid white;
}

.clearall {
  clear:both;
}
footer {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 62);
  background: linear-gradient(to top, rgb(47, 47, 50), white);
}
.pie-pagina{
  margin-left:20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(253, 252, 252);
} 



aside {
  height: 1000px;
  flex:1 1 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(102, 102, 104);
}

.efecto3Dcaja {
  color: #f5f5f5;
  box-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
a:link {
  color:rgb(40, 53, 40);
  text-decoration: none;
}

a:visited {
  color:rgb(84, 76, 101);
}

a:hover {
  color:rgb(255, 187, 0)
}

a:active {
  color:black;
}

.botones-salir {
  position: fixed;
  bottom: 0%;
  right:50%;
  display: inline-flex;
  font-size: 2rem;
  background-color: darkgoldenrod; 
}

.boton {
  border-width: 10px;
  border-color: #919191;
  border-style: outset;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Dancing Script';
  justify-content: space-around;
}

.alineacion {
  flex: 1 1;
  margin: 5px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Dancing Script';
}
label {
  font-size: 3rem;
  font-weight: bold;
}

#juego-analizado {
  position:absolute;
  top: 15%;
  left:1%;
  font-size: 2rem;
  color: gold;
}
#juego-analizado p {
  border-style: outset;
  border-width: 6px;
  background-color: rgb(29, 70, 40);
}
#juego-analizado p a {
  display: none;
}
#juego-analizado p:hover a{
  display: block;

}
#juego-analizado p a:visited {
  color:rgb(148, 123, 227);
}
